/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:100,300,400,100italic|Raleway:300,400");
$base-font: "Open Sans", "sans-serif";
$header-font: "Lato", "sans-serif", "300";
$navbar-font: 'Raleway', "sans-serif";

@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
$scribble-font: 'Gloria Hallelujah', "cursive";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$red: #DB454D;
$darkred: #9B3137;
$blue: #4CA3BD;
$darkblue: #40576F;
$darkerblue: #2D3E4F;
$yellow: #FDB631;
$orange:#E86C3D;
$green: #32B796;
$purple: #6452BD;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         #838689; // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-almost-super-light: lighten(#000, 90%);
$gray-super-light: lighten(#000, 95%); // #777
$gray-lighter: #fcfcfc; // #eee

// Blue scale
$blue-dark: darken(#4CA3BD, 10%);