<div style="margin-left: 230px;">
  <% if notice %>
    <div class="alert alert-dismissible text-center flashes" role="alert" id="notices">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-dismissible text-center flashes" role="alert" id="alerts">
      <%= alert %>
    </div>
  <% end %>
</div>