<div class="container">
  <h1>Dashboard - actions</h1>
  <ul>
    <li>
      <%= link_to "Créer une facture", new_users_invoice_path %>
    </li>
    <li>
      <%= link_to "Enregistrer un nouveau client", new_users_customer_path %>
    </li>
    <li>
      <%= link_to "Enregistrer une nouvelle pièce", new_part_path %>
    </li>
  </ul>
</div>