.generic-banner{
  background-position: center center;
  background-size: cover;
  height: 140px;
  box-shadow: 0 2px 3px #272727;

}
.text-banner{
  h1 {
    color: white;
  }
  padding-top: 1px;
  text-align: center;
}