.search-input {
  padding: 8px;
  border-radius: 1px;
  border: none;
  width: 90%;
  opacity: 0.85;
  color: $darkblue;
}

#search-service-form {
  .has-feedback-left > .search-input {
    padding-left: 11%;
  }

  .form-control-feedback-left {
    top: 8px;
    left: 5%;
    font-size: 17px;
    color: $blue;
  }
}