// .search-section {
//   background-color: white;
//   height: 10vh;
// }

.generic-banner{
  background-position: center center;
  background-size: cover;
  height: 250px;
  box-shadow: 0 2px 3px #272727;

}
.text-banner{
  color: white;
  padding-top: 80px;
  text-align: center;
}