<div class="nested-fields">
  <div class="col-xs-6">
    <%= f.input :part_id, collection: @parts %>
  </div>
  <div class="col-xs-6">
    <%= f.input :price_ht %>
  </div>

  <%= link_to_remove_association 'remove', f %>
</div>