<div class="container">
  <h1>Liste des factures</h1>

  <ul>
    <% @invoices.each do |invoice| %>
      <li>
        <%= link_to invoice.id, users_invoice_path(invoice) %>
      </li>
    <% end %>
  </ul>
</div>