<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' >
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Lato:100,300,400,100italic|Raleway:300,400' rel='stylesheet' type='text/css'>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body>
    <%= yield %>

    <footer>
      Merci et soyez prudent sur la route - Réanim'auto
    </footer>
  </body>
</html>
